* {
	border: none;
	border-radius: 0;
	font-family: "terminal-font";
	font-size: 12px;
	min-height: 0;
	margin: 0px;
	padding: 0px;
}

window#waybar {
	background: #000000;
	color: #e4e4e4;
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#workspaces button {
	background: transparent;
	color: #e4e4e4;
    padding: 0 4px;
}

#workspaces button.focused {
	background: #539bf5;
	color: #1b1d1e;
}

#workspaces button.urgent {
	background: #f47067;
	color: #1b1d1e;
}

#mode {
	background: #b083f0;
	color: #000000;
}

#clock, #battery, #tray, #mode, #language {
	padding: 0 5px;
}
