* {
	border: none;
	border-radius: 0;
	font-family: "terminal-font";
	font-size: 12px;
    font-weight: 700;
	min-height: 0;
	margin: 0px;
	padding: 0px;
}

window#waybar {
	background: #000000;
	color: #d1d5da;
}

#window {
	color: #d1d5da;
	font-weight: bold;
}

#workspaces button {
	background: transparent;
	color: #d1d5da;
}

#workspaces button.focused {
	background: #2188ff;
	color: #000000;
}

#workspaces button.urgent {
	background: #ea4a5a;
	color: #000000;
}

#mode {
	background: #79b8ff;
	color: #000000;
}

#clock, #battery, #tray, #mode, #language {
	padding: 0 5px;
}
