[Desktop Entry]
Version=1.0
Name={{ item.name }}
Exec={{ item.name }}
Icon={{ apps_home }}/{{ item.name }}/{{ item.desktop_entity.icon_path }}
{% if item.desktop_entity.startup_wm_class is defined %}
StartupWMClass={{ item.desktop_entity.startup_wm_class }}
{% endif %}
Terminal=false
Type=Application
